.page {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page__image {
  width: 420px;
}

.page__question {
  text-align: center;
  width: 630px;
  font-weight: 400;
  margin: 0;
}

.page__button-container {
  margin-top: 50px;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: black;

  padding: 14px;
  font-size: 22px;
  font-weight: 600;
  color: white;
  border-radius: 15px;
  width: 130px;
}

button:hover {
  cursor: pointer;
  color: black;
  background-color: transparent;
  border: 2px solid black;
}

.page__button-no {
  margin-right: 30px;
}

.page__title-yes {
  margin: 0;
  font-weight: 600;
  font-size: 48px;
}

.page__react-player {
  height: 550px !important;
}

.page__player-wrapper {
  height: 550px !important;
}